
/* Exp Array styl */
.expListContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--normal-margin-top);
    /* Animation */

    animation: fadeIn var(--smooth-transition-time) cubic-bezier(0.23, 1, 0.32, 1) forwards;
}


@keyframes fadeIn {
    from {
        transform: translateY(-2em);
    }
    to {
        transform: translateY(0);
    }
}

/* Common exp holder */

.expContainer{
    padding-top: 2em;
    /* font-size: var(--fsize-smol); */

}
.expContainerLeft {
    float: left;
}
.expContainerLeft span {
   display: block;
}
.expTitle {
    font-size: var(--fsize-smol);
    text-align: left;
}
.expTitle a {
    color: var(--tag-color);
    text-decoration: none;
}
.expDuration {
  color: var(--sub-text-color)
}
.expMaxMin {
    float: right;
    width: 2ch;
    font-size: var(--fsize-mid);
    text-align: center;
    border-radius: 100%;
    color: var(--text-color-dark);
    background-color: var(--highlight-color);
    cursor: pointer;
}


/* Maximized View */

.contentDiv {
    font-size: var(--fsize-smol);
    position: relative;
    display: inline-block;
    padding-top: .5em;
    padding-left: 1em;
}
.contentDiv a {
    text-decoration: none;
}

.contentDiv li {
    font-size: var(--fsize-smol);
    padding: var(--li-padding);
}

.expViewContainer {
    margin-top: var(--min-margin-top);
    transition: all var(--smooth-transition-time) cubic-bezier(0.23, 1, 0.32, 1);
}

.expViewContainer .contentDiv,
.expViewContainer .skillUsed {
    animation: fadeIn2 var(--smooth-transition-time) cubic-bezier(0.23, 1, 0.32, 1);

}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.skillUsed {
    align-content: center;
    padding-left: 1em;
}

.skillUsed span {
    font-size: var(--fsize-xsmol);
    display: inline-block;
    
    border-radius:5px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;

    color: var(--skill-box-color);
    background-color: var(--skill-box-bg);
    border: 1px solid var(--skill-box-color);
}

/* Media query for mobile devices */
@media screen and (max-width: 1279px) {

    .expViewContainer ul {
        padding: 1em;
    }
    .expContainer {
        width: 340px;
    }

    .expContainerLeft {
        font-size: var(--fsize-smol);
    }
}

/* Media query for desktop devices */
@media screen and (min-width: 1280px) {

    .expViewContainer ul {
        padding-left: 2em;
    }
    
    .expContainer {
        width: 600px;
    }

}

